// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
}

form {
  margin-bottom: 3em;
}